html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

section {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #b22222;
    color: white;
    padding: 20px;
}


main {
    flex: 0 0 30vh;
    overflow: hidden;
}

.hero {
    position: relative;
    min-height: 100vh; /* sorgt dafür, dass das Hero-Image immer mindestens die volle Viewport-Höhe hat */
    background-image: url("/images/wien.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.info-box {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1rem;
}

.info-box.data {
    left: 5%;
    top: 53%;
    background-color: rgba(46, 139, 87, 0.7);
    color: white;
}

.info-box.weather {
    right: 4%;
    top: 5%;
    background-color: rgba(70, 130, 180, 0.7);
    color: white;
}

.info-box h2 {
    margin-top: 0;
}

.info-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-box li {
    margin: 4px 0;
}

footer {
    background-color: #b22222;
    color: white;
    padding: 10px;
}
footer p {
    margin: 0 10px;
    display: inline-block;
}
